#inventory-container {
  margin: 100px 0px 100px 0px;
  position: absolute;
  width: 100%;
  .item-container {
    margin-left: 30%;
    .item {
      margin: 5px 0px 5px 0px;
      display: inline-block;
      border-left: 3px solid black;
      height: 200px;
      width: 500px;
      margin: 2px 0px 2px 0px;
      position: relative;
      #itemName {
        font-family: 'Lato', sans-serif;
        white-space: nowrap;
        margin-top: 0px;
      }
      .itemText {
        font-family: 'Lato', sans-serif;
        margin-left: 225px;
        margin-bottom: 5px;
        position: relative;
        span {
          color: grey;
          font-size: 20px;
          text-decoration: underline;
          cursor: pointer;
        }
       }
       #itemPrice {
        color: green;
        font-weight: 600;
        margin: 5px 0px 5px 225px;
      }
      .inventoryImage {
        margin-left: 2px;
        max-width: 200px;
        max-height: 200px;
        position: absolute;
      }
    }
    #submit-container {
      margin: 50px 0px 0px 15px;
      display: inline;
      position: absolute;
      select {
        width: 92.56px;
      }
      button {
        width: 125px;
      }
      .addToCartButton {
        margin: 5px 0px 5px 0px;
        background-color: white;
        text-decoration: none;
        padding: 5px 10px 5px 10px;
        font-size: 12px;
        border-radius: 8px;
        cursor: pointer;
        border: 1px solid;
        #cartIcon {
          font-size: 18px;
        }
      }
      .addToCartButton:hover {
        background-color: black;
        color: white;
      }
      .addToWishListButton {
        background-color: black;
        text-decoration: none;
        padding: 5px 10px 5px 10px;
        font-size: 12px;
        border-radius: 8px;
        cursor: pointer;
        border: 0;
        color: white;
        #heartIcon {
          font-size: 18px;
        }
      }
    }
  }
  #description {
    font-family: 'Lato', sans-serif;
    display: none;
    background-color: white;
    z-index: 1;
    width: 300px;
    position: absolute;
    box-shadow: 
		0 5px 15px 1px rgba(0, 0, 0, 0.6),
    0 0 200px 1px rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
  }
}
