@import url(https://fonts.googleapis.com/css?family=Lato);

#search-container {
  position: absolute;
  margin: 80px 0px 0px 30%;
  form {
    display: inline;
    input {
      width: 500px;
    }
    #searchButton {
      width: 25px;
      background-color: black;
      text-decoration: none;
      padding: 4px;
      font-size: 12px;
      font-family: 'Archivo Black', sans-serif;
      cursor: pointer;
      border: 0;
      border-radius: 4px;
      color: white;
      margin: 0 3px 0 2px;
    }
  }
  #clear-search-button {
    background-color: black;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    font-size: 12px;
    border-radius: 8px;
    cursor: pointer;
    border: 0;
    color: white;
  }
}