.wishlist-container {
  right: 0;
  position: fixed;
  margin-right: 1%;
  width: 20%;
  #wishlist-guest-text {
    font-family: 'Roboto', sans-serif;
  }
  .wishlist-title {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
  }
  li {
    list-style: none;
    margin-bottom: 3px;
    font-family: 'Roboto', sans-serif;
  }
  .add-to-cart-from-WL {
    width: 50px;
    background-color: white;
    text-decoration: none;
    padding: 4px;
    font-size: 10px;
    font-family: 'Archivo Black', sans-serif;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid black;
    margin-right: 4px;
  }
  .add-to-cart-from-WL:hover {
    background-color: black;
    color: white;
  }
  .x-button {
    width: 50px;
    background-color: black;
    text-decoration: none;
    padding: 4px;
    font-size: 10px;
    font-family: 'Archivo Black', sans-serif;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    color: white;
  }
  .WLImage {
    max-height: 25px;
    top: 9.5px;
    position: relative;
  }
}